{% extends 'pas/base.html' %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<script>
    window.onload = function() {
    
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      title: {
        text: "Projects Overview on {{ date }}"
      },
      data: [{
        type: "pie",
        startAngle: 240,
        yValueFormatString: "##0.00\"%\"",
        indexLabel: "{label} {y}",
        dataPoints: [
          {y: {{ project_on_schedule }}, label: "On Schedule"},
          {y: {{ project_overdue }}, label: "Overdue"},
          {y: {{ project_finished }}, label: "Finished"}
        ]
      }]
    });
    chart.render();
    
    }
    </script>

<div class="container" style="padding-bottom:15px"> 
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard/">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/manage-projects/">Manage Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/manage-groups/">Manage Groups</a>
    </li>
  </ul>
</div>
  
<div id="chartContainer" style="height: 370px; width: 100%;"></div>


{% endblock %}