{% extends 'pas/base.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Your Projects, Our Priority.</h1>
  <p class="lead">A simple tool to help you easily keep track of team projects in your organisation.</p>
  <hr class="my-4">
  <p>Create teams, add members, assign roles, schedule team reviews and more!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/manage" role="button">Get Started</a>
  </p>
</div>

<div>
  <h2>Statistics</h2>  
  <p>Our system currently serves:</p>
  <h2><span class="badge badge-secondary">{{ number1 }}</span> projects by <span class="badge badge-secondary">{{ number3 }}</span> teams with <span class="badge badge-secondary">{{ number2 }}</span> members!</h2>

</div>
{% endblock %}