{% extends 'pas/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="card">
    <div class="card-header">
        Login
      </div>
  <div class="card-body">
        {% if not request.user.is_authenticated %}

      <form method="post" style="margin-left:20em;">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
        </form>  
        {% else %}
        <div class="alert alert-info">
                <strong>Hmm... </strong> it looks like you are already logged in, click <b><a href="/dashboard">here</a></b> to go the the dashboard.  
              </div>
              
        {% endif %}
    </div>
</div>
 
{% endblock %}