{% extends 'pas/base.html' %}

{% block content %}
<div class="container" style="padding-bottom:15px"> 
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/manage">Manage Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Schedule Reviews</a>
    </li>
  </ul>
</div>
    <h2>Teams     <a href="/team/add/"><button type="button" class="btn btn-primary" style="float:right;">Add Team</button></a>  </h2>    
<FORM action="..." method="post"></FORM>
<table class="table">
   <tr>
    <!-- <th>Edit</th> -->
    <th>Team Name</th>
    <th>Assigned Project</th>
    <th>Budget</th>
    <th>Progress</th>
  </tr>
 {% for team in all_team_list %}
  <tr>
    <!-- <th><INPUT TYPE="radio" NAME="e1" VALUE="{{ team.id }}"></th> -->
    <th>{{ team.team_name }}</th>    
    {% if team.project_set.all.0 %}
    <th>{{ team.project_set.all.0.project_name }}</th>
    {% else %}
      <th>No active project</th>
      {% endif %}
    <th>₹ {{ team.budget }}</th>
    <th>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ team.project_set.all.0.percent }}%;" aria-valuenow="{{ team.project_set.all.0.percent }}" aria-valuemin="0" aria-valuemax="100">
          {% if team.project_set.all.0 %}
          
        {{ team.project_set.all.0.percent }}%

        {% endif %}
      
      </div>
    </div>
    </th>
    <th><a href="/team/{{ team.id }}/details/"><button type="button" class="btn btn-secondary">Details</button></a></th>
  </tr>
{% endfor %}
</table> 
<!-- <hr> -->
<!-- <input type="submit" value="Edit"> -->
<!-- <hr> -->
<!-- <input type="submit" value="Edit"> -->
<hr>

{% endblock %}