{% extends 'pas/base.html' %}

{% block title %}Manage Projects{% endblock %}

{% block content %}
<div class="container" style="padding-bottom:15px"> 
  <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage-projects/">Manage Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage-groups/">Manage Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/manage-employees/">Manage Employee</a>
      </li>
    </ul>
  </div>
    <h2>Employees    
      <div style = "float:right;">
      <a href="/employee/add/"><button type="button" class="btn btn-primary" >Add Employee</button></a>  
        </div>
    </h2>    
<FORM action="..." method="post"></FORM>
<table class="table table-striped">
    <thead>
        
   <tr>
    <!-- <th>Edit</th> -->
    <th>Name</th>
    <th>Department</th>
    <th>Designation</th>
  </tr>
</thead>
      
 {% for employee in employee_list %}
  <tr>
    <!-- <th><INPUT TYPE="radio" NAME="e1" VALUE="{{ team.id }}"></th> -->
    <th>{{ employee.employee_name }}</th>    
    <th>{{ employee.department }}</th>
    <th>{{ employee.designation }}</th>
    <th><a href="/employee/{{ employee.id }}/details/"><button type="button" class="btn btn-secondary">Details</button></a></th>
  </tr>
{% endfor %}
</table> 
<!-- <hr> -->
<!-- <input type="submit" value="Edit"> -->
<!-- <hr> -->
<!-- <input type="submit" value="Edit"> -->
<hr>

{% endblock %}