{% extends 'pas/base.html' %}
{% load humanize %}

{% block title %}{{ project.project_name }}{% endblock %}

{% block content %}
<div class="container" style="padding-bottom:15px"> 
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/manage-projects/">Manage Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Manage Groups</a>
    </li>
  </ul>
</div>
</br>
<div class="container" style="padding-bottom:15px">
    <h2 class='bd-title' id='content'>{{ panel.panel_name }}     <div class="float-right">
            <a href="/panel/{{ panel.id }}/edit/" class="btn btn-secondary" >Edit Details</a>
            <a href="/panel/{{ panel.id }}/delete/" class="btn btn-danger">Delete</a>
            </div> </h2>
            </div>
          </br>
    <div class="card">
            <div class="card-header">
                    
   Panel Details 
      </div>
 
    
          <div class="card">
            <div class="card-body">
            
            </br>
                    <div class="row">
                            {% for employee in panel.employee_set.all %}
                            <div class="col-sm-4 mb-3">
                                    <div class="card">
                                      <div class="card-body">
                                        <h4 class="card-title">{{ employee.employee_name }}</h4>
                                        <h6 class="card-subtitle mb-2 text-muted>">
                                          {% if employee.leader %}
                                            <b>Leader</b> - 
                                          {% endif %}
                                          {{ employee.designation }}</h6>
                                        <hr>    
                                        <p class="card-text">Phone: {{ employee.phone_no }} 
                                        </br>
                                        Join Date: {{ employee.join_date }}
                                        </p>

                                        <div class ="float-right">
                                        <a href="/employee/{{ employee.id }}/edit" class="btn btn-secondary">Edit Details</a>                                            
                                        <a href="/employee/{{ employee.id }}/delete" class="btn btn-danger" >Remove</a>                                            
                                        </div>
                            
                                     
                                    </div>
                                    </div>
                                  </div>
                        {% endfor %}

                    </div>      
                    <a href="/panel/{{ panel.id }}/employee/add/" class="btn btn-primary    float-right" >Add Employee</a>                                            
            </div>
          </div> 
        </div>
{% endblock %}