{% extends 'pas/base.html' %}

{% block content %}
<div class="container" style="padding-bottom:15px"> 
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/manage">Manage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/project/add">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team/add">Add Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employee/add">Add Employee</a>
            </li>
          </ul>
        </div>

        <h2>Add New Project: </h2>
        
        <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            </table>
            <input type="submit" value="Submit" />
        </form>


{% endblock %}