{% extends 'pas/base.html' %}
{% load humanize %}

{% block title %}{{ project.project_name }}{% endblock %}

{% block content %}
<div class="container" style="padding-bottom:15px"> 
  <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage-projects/">Manage Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/manage-groups/">Manage Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage-employees/">Manage Employee</a>
      </li>
    </ul>
  </div>
</br>
<div class="container" style="padding-bottom:15px">
    <h2 class='bd-title' id='content'>{{ team.team_name }}     <div class="float-right">
            <a href="/team/{{ team.id }}/edit/" class="btn btn-secondary" >Edit Details</a>
            <a href="/team/{{ team.id }}/delete/" class="btn btn-danger">Delete</a>
            </div> </h2>
            </div>
          </br>
    <div class="card">
            <div class="card-header">
                    
   Team Details 
      </div>
 
    
    
          <div class="card">
            <div class="card-body">
              <b>
              {% if project %}
              Current Project:                 </b>
              {{ project.project_name }}
              {% else %}
                No Active Project                 </b>
                
              {% endif %}
            </br>

            </br>
                    <div class="row">
                            {% for employee in team.employee_set.all %}
                            <div class="col-sm-4 mb-3">
                                    <div class="card">
                                      <div class="card-body">
                                        <h4 class="card-title">{{ employee.employee_name }}</h4>
                                        <h6 class="card-subtitle mb-2 text-muted>">
                                          {% if employee.leader %}
                                            <b>Leader</b> - 
                                          {% endif %}
                                          {{ employee.designation }}</h6>
                                        <hr>    
                                        <p class="card-text">Phone: {{ employee.phone_no }} 
                                        </br>
                                        Join Date: {{ employee.join_date }}
                                        </p>

                                        <div class ="float-right">
                                        <a href="/employee/{{ employee.id }}/edit" class="btn btn-secondary">Details</a>                                            
                                        </div>
                            
                                     
                                    </div>
                                    </div>
                                  </div>
                        {% endfor %}

                    </div>      
                    <a href="/team/{{ team.id }}/employees/edit/" class="btn btn-primary float-right" >Edit Team Members</a>                                            
            </div>
          </div> 
        </div>
{% endblock %}